#meram{
	font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	letter-spacing:1px;
	color:white;
	background:linear-gradient(267deg, #066069 0%, #1e7d62 38.49%, #8aca38 100%);
	filter:drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.16));
	box-sizing:border-box;
	padding:20px;
	text-align:justify;
	text-justify:inter-word;
}

.col{
	display:grid;
	grid-template-columns:1fr 2fr;
	column-gap:30px;
	margin-top:60px;
}

.title{
	margin-top:30px;
}

.big:hover{
	transform:scale(1.1);
	transition:all 0.5s;
}

h4{
	text-decoration:underline;
	color:white;
}

.big{
	background-repeat:no-repeat;
	background-size:cover;
	height:300px;
	transition:all 0.5s;
}

h5{
	font-size:22px;
	/* height:300px; */
	text-align:left;
	color:#e74747;
}

a{color:darkblue;}
