.row{
	flex-direction:row;
	flex-wrap:wrap;
	align-content:stretch;
}

.icons{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

.col p{
	color:white;
}

.col h2{
	margin-left:280px;
	margin-bottom:30px;
}

.phone{
	margin-left:160px;
	font-size:30px;
}
